@media screen and (max-width: 992px){
	footer .col-6:first-child {
		margin-bottom: 25px;
	}
	footer h2 {
		text-align: center;
	}
	footer p {
		text-align: center;
	}
}

@media screen and (max-width: 892px){
	.navbar-nav li {
		text-align: center;
	}
	.carousel-caption {
		margin-top: 145px;
		font-size: 25px;
	}
}