@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 15px;
}

.container {
	width: 1200px;
	max-width: 100%;
	margin: auto;
}

header nav {
	background-color: #be234d;
}

h1 {
	margin: auto;
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

h2 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}

img {
	max-width: 100%;
}

.logo {
	max-width: 150px;
}

.right {
	float: right !important;
}

.nav-item a {
	color: #ffffff;
}

.sidebar-toggle {
	display: none;
}

.sidebar-toggle i {
	color: #ffffff;
}

.navbar-toggler span {
	color: #ffffff;
}

.navbar {
	padding: 0 1rem;
}

.carousel-item {
	height: 400px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.carousel-caption {
	font-weight: bold;
	font-size: 34px;
	bottom: auto !important;
	margin-top: 155px;
	text-shadow: 1px 1px 1px #000000;
}

.uppercase {
	text-transform: uppercase;
}

.line {
	height: 3px;
	width: 50px;
	background-color: #be234d;
	margin: auto;
	margin-top: 5px;
}

.listado-peliculas {
	margin-top: 35px;
}

.listado-peliculas div[class^='col-'] {
	text-align: center;
	margin-top: 15px;
}

.listado-peliculas div[class^='col-'] a {
	color: #000000;
	text-decoration: none;
}

.listado-peliculas div[class^='col-'] a:hover {
	color: #be234d;
}

.listado-peliculas div[class^='col-'] img {
	width: 200px;
	height: 134px;
	margin-bottom: 5px;
}

.description {
	width: 750px;
	max-width: 90%;
	margin: auto;
	margin-top: 25px;
	text-align: center;
}

footer {
	width: 100%;
	margin-top: 75px;
	padding: 25px 0;
	border-top: 3px solid #444444;
	background-color: #be234d;
}

footer h2 {
	color: #efcf11;
	margin-bottom: 15px;
}

footer p {
    margin-bottom: 0.25rem;
	color: #ffffff;
}

footer form label {
	color: #ffffff;
}

footer form textarea {
	min-height: 100px;
}

.btn {
	background-color: #efcf11;
    border-color: #efcf11;
    color: #000000;
}

iframe {
	margin: auto;
	display: block;
	max-width: 90%;
}

.btn-comprar {
	margin: auto;
	display: block;
}

ul {
	list-style: none;
}

ul.datos {
	width: 560px;
	margin: auto;
}

#frm-login, #frm-registro {
	margin: auto;
	margin-top: 25px;
}

#frm-login button, #frm-registro button {
	width: 100%;
}

label.error {
	color: #ff0000;
	margin: 10px;
}

label.success {
	color: #1aaa1a;
	margin: 10px;
}

.admin-menu {
	margin-top: 25px;
}

.admin-menu .btn {
	background-color: #707070;
    border-color: #707070;
    color: #ffffff;
}

.align-left{
	text-align: left;
}

.align-center{
	text-align: center;
}

.align-right{
	text-align: right;
}

.inline-block {
	display: inline-block;
}

.v-top {
	vertical-align: top;
}

a.btn:hover {
	color: inherit;
}

.w100 {width: 100px !important;min-width: 100px !important;}
.w150 {width: 150px !important;min-width: 150px !important;}
.w250 {width: 250px !important;min-width: 250px !important;}